html {
background-color: #F0F0F0;
    width: 100%;
}
nav {
    background-color: #F0F0F0;
}

header {
    background-color: #F0F0F0;
    /*font-family: 'Abel', sans-serif;*/
    font-family: 'Anton', sans-serif;
}