html {
background-color: #F0F0F0;
    width: 100%;
}
body {
    background-color: #F0F0F0;
}
nav {
    background-color: #F0F0F0;
}
.button-space {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}
header {
    background-color: #F0F0F0;
    font-family: 'Anton', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
.grid-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    font-family: 'Abel', sans-serif;
    text-align: center;
}
.row {
    display: flex;
}
